version: '2'

services:
  cmdicdn:
    image: ghcr.io/knaw-huc/huc-generic-editor:1.0-rc6
    container_name: cmdicdn
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cmdicdn.entrypoints=http"
      - "traefik.http.routers.cmdicdn.rule=Host(`cmdicdn.sd.di.huc.knaw.nl`)"
    networks:
      - cmdicdn


networks:
  cmdicdn:
    external:
      name: traefik-public
